In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv('/content/electricity_consumption.csv')

In [23]:
df

,ID,date,lights,t1,rh_1,t2,rh_2,t3,rh_3,t4,...,rh_9,t_out,press_mm_hg,rh_out,windspeed,visibility,tdewpoint,rv1,rv2,appliances
0,2133,2016-01-26 12:30:00,0,19.890000,45.50,19.200000,45.090000,20.390000,44.290000,19.10,...,48.700000,10.300000,761.900000,85.500000,7.500000,23.500000,7.950000,39.240863,39.240863,3.912023
1,19730,2016-05-27 17:20:00,0,25.566667,46.56,25.890000,42.025714,27.200000,41.163333,24.70,...,46.790000,22.733333,755.200000,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812,4.605170
2,3288,2016-02-03 13:00:00,0,22.500000,44.43,21.533333,42.590000,21.963333,44.555000,22.00,...,45.530000,6.600000,760.200000,64.000000,8.000000,40.000000,0.200000,42.054659,42.054659,4.248495
3,7730,2016-03-05 09:20:00,0,19.790000,38.06,17.200000,40.933333,20.600000,37.163333,18.39,...,40.723333,2.100000,741.533333,94.333333,1.000000,48.666667,1.233333,12.615865,12.615865,3.688879
4,8852,2016-03-13 04:20:00,0,20.600000,35.29,17.100000,39.790000,20.290000,37.000000,19.50,...,40.090000,-0.866667,768.266667,92.333333,1.666667,34.000000,-1.933333,10.897926,10.897926,3.688879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15783,11284,2016-03-30 01:40:00,0,21.760000,40.90,19.390000,43.090000,23.000000,39.000000,21.50,...,40.560000,9.566667,750.466667,77.666667,6.666667,40.000000,5.833333,45.513197,45.513197,4.094345
15784,11964,2016-04-03 19:00:00,0,22.390000,43.70,22.000000,42.066667,22.700000,41.230000,21.29,...,44.290000,17.300000,749.500000,66.000000,2.000000,40.000000,10.900000,34.934752,34.934752,4.787492
15785,5390,2016-02-18 03:20:00,0,20.290000,35.70,18.200000,37.590000,20.100000,37.590000,18.20,...,39.466667,-1.066667,754.900000,87.000000,3.666667,62.666667,-2.933333,19.071358,19.071358,3.401197
15786,860,2016-01-17 16:20:00,0,21.790000,35.56,20.434000,35.116000,21.200000,36.900000,21.10,...,41.466667,2.066667,765.033333,64.333333,1.333333,40.000000,-4.066667,1.050592,1.050592,4.382027
15787,15795,2016-04-30 09:30:00,0,21.323333,37.73,19.890000,38.566667,22.700000,36.590000,19.70,...,41.266667,6.650000,758.650000,85.500000,1.000000,40.000000,4.350000,17.456040,17.456040,4.867534

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15788 entries, 0 to 15787
Data columns (total 30 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           15788 non-null  int64
 1   date         15788 non-null  object
 2   lights       15788 non-null  int64
 3   t1           15788 non-null  float64
 4   rh_1         15788 non-null  float64
 5   t2           15788 non-null  float64
 6   rh_2         15788 non-null  float64
 7   t3           15788 non-null  float64
 8   rh_3         15788 non-null  float64
 9   t4           15788 non-null  float64
 10  rh_4         15788 non-null  float64
 11  t5           15788 non-null  float64
 12  rh_5         15788 non-null  float64
 13  t6           15788 non-null  float64
 14  rh_6         15788 non-null  float64
 15  t7           15788 non-null  float64
 16  rh_7         15788 non-null  float64
 17  t8           15788 non-null  float64
 18  rh_8         15788 non-null  float64
 19  t9           15788 non-null  float64
 20  rh_9         15788 non-null  float64
 21  t_out        15788 non-null  float64
 22  press_mm_hg  15788 non-null  float64
 23  rh_out       15788 non-null  float64
 24  windspeed    15788 non-null  float64
 25  visibility   15788 non-null  float64
 26  tdewpoint    15788 non-null  float64
 27  rv1          15788 non-null  float64
 28  rv2          15788 non-null  float64
 29  appliances   15788 non-null  float64
dtypes: float64(27), int64(2), object(1)
memory usage: 3.6+ MB

In [25]:
from datetime import datetime
df['date'] = pd.to_datetime(df['date'])

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15788 entries, 0 to 15787
Data columns (total 30 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           15788 non-null  int64
 1   date         15788 non-null  datetime64[ns]
 2   lights       15788 non-null  int64
 3   t1           15788 non-null  float64
 4   rh_1         15788 non-null  float64
 5   t2           15788 non-null  float64
 6   rh_2         15788 non-null  float64
 7   t3           15788 non-null  float64
 8   rh_3         15788 non-null  float64
 9   t4           15788 non-null  float64
 10  rh_4         15788 non-null  float64
 11  t5           15788 non-null  float64
 12  rh_5         15788 non-null  float64
 13  t6           15788 non-null  float64
 14  rh_6         15788 non-null  float64
 15  t7           15788 non-null  float64
 16  rh_7         15788 non-null  float64
 17  t8           15788 non-null  float64
 18  rh_8         15788 non-null  float64
 19  t9           15788 non-null  float64
 20  rh_9         15788 non-null  float64
 21  t_out        15788 non-null  float64
 22  press_mm_hg  15788 non-null  float64
 23  rh_out       15788 non-null  float64
 24  windspeed    15788 non-null  float64
 25  visibility   15788 non-null  float64
 26  tdewpoint    15788 non-null  float64
 27  rv1          15788 non-null  float64
 28  rv2          15788 non-null  float64
 29  appliances   15788 non-null  float64
dtypes: datetime64[ns](1), float64(27), int64(2)
memory usage: 3.6 MB

In [27]:
df['day_of_week'] = df['date'].dt.dayofweek

In [28]:
df['date_only'] = df['date'].dt.date

In [29]:
df

,ID,date,lights,t1,rh_1,t2,rh_2,t3,rh_3,t4,...,press_mm_hg,rh_out,windspeed,visibility,tdewpoint,rv1,rv2,appliances,day_of_week,date_only
0,2133,2016-01-26 12:30:00,0,19.890000,45.50,19.200000,45.090000,20.390000,44.290000,19.10,...,761.900000,85.500000,7.500000,23.500000,7.950000,39.240863,39.240863,3.912023,1,2016-01-26
1,19730,2016-05-27 17:20:00,0,25.566667,46.56,25.890000,42.025714,27.200000,41.163333,24.70,...,755.200000,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812,4.605170,4,2016-05-27
2,3288,2016-02-03 13:00:00,0,22.500000,44.43,21.533333,42.590000,21.963333,44.555000,22.00,...,760.200000,64.000000,8.000000,40.000000,0.200000,42.054659,42.054659,4.248495,2,2016-02-03
3,7730,2016-03-05 09:20:00,0,19.790000,38.06,17.200000,40.933333,20.600000,37.163333,18.39,...,741.533333,94.333333,1.000000,48.666667,1.233333,12.615865,12.615865,3.688879,5,2016-03-05
4,8852,2016-03-13 04:20:00,0,20.600000,35.29,17.100000,39.790000,20.290000,37.000000,19.50,...,768.266667,92.333333,1.666667,34.000000,-1.933333,10.897926,10.897926,3.688879,6,2016-03-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15783,11284,2016-03-30 01:40:00,0,21.760000,40.90,19.390000,43.090000,23.000000,39.000000,21.50,...,750.466667,77.666667,6.666667,40.000000,5.833333,45.513197,45.513197,4.094345,2,2016-03-30
15784,11964,2016-04-03 19:00:00,0,22.390000,43.70,22.000000,42.066667,22.700000,41.230000,21.29,...,749.500000,66.000000,2.000000,40.000000,10.900000,34.934752,34.934752,4.787492,6,2016-04-03
15785,5390,2016-02-18 03:20:00,0,20.290000,35.70,18.200000,37.590000,20.100000,37.590000,18.20,...,754.900000,87.000000,3.666667,62.666667,-2.933333,19.071358,19.071358,3.401197,3,2016-02-18
15786,860,2016-01-17 16:20:00,0,21.790000,35.56,20.434000,35.116000,21.200000,36.900000,21.10,...,765.033333,64.333333,1.333333,40.000000,-4.066667,1.050592,1.050592,4.382027,6,2016-01-17
15787,15795,2016-04-30 09:30:00,0,21.323333,37.73,19.890000,38.566667,22.700000,36.590000,19.70,...,758.650000,85.500000,1.000000,40.000000,4.350000,17.456040,17.456040,4.867534,5,2016-04-30

In [37]:
daily_appliances = df.groupby('date_only')['appliances'].sum().reset_index()

In [38]:
daily_appliances['day_of_week'] = pd.to_datetime(daily_appliances['date_only']).dt.dayofweek
daily_appliances['is_weekend'] = daily_appliances['day_of_week'].isin([5, 6])

In [39]:
weekend_data = daily_appliances[daily_appliances['is_weekend']]
weekday_data = daily_appliances[~daily_appliances['is_weekend']]

In [43]:
weekend_top = weekend_data['appliances'].quantile(0.90)
weekday_bottom = weekday_data['appliances'].quantile(0.50)

In [45]:
high_weekends = weekend_data[weekend_data['appliances'] >= weekend_top]
matching_dates = high_weekends[high_weekends['appliances'] <= weekday_bottom]

In [48]:
print("Matching Weekend Dates:")

Matching Weekend Dates: